* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: blanchedalmond;
}

.players {
  border: solid 1px;
}

.actions {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn--remove {
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
  }
}

.matches__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .matches__heap {
    display: flex;
    flex-direction: row;
    padding: 8px 0;

    &__match {
      box-sizing: border-box;
      cursor: pointer;
      user-select: none;
      padding: 24px 24px;
      margin: 8px;
      border: 1px solid black;

      &:hover {
        box-sizing: border-box;
        background-color: rebeccapurple;
      }

      &--selected {
        background-color: gray;
      }

      &--removed {
        display: none;
      }

      &--svg {
        width: 20px;
        pointer-events: none;
      }
    }
  }
}
